body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #000B18, #00172D, #00264D, #02386E);
	background-size: 800% 800%;
	animation: gradient 18s ease-in-out infinite;
	/* border: red 1px solid; */
}


header {
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
	padding: 20px;
	/* padding-left: 50px; */
	text-align: center;
}

h1{
	margin: 0;
}

h3{
	margin: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #A5D7E8;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

main {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	/* border: red 1px solid; */
	text-align: center;
	margin: auto;
	padding: 20px;
	height: 80vh;
	color: white;
}

.socials{
	/* border: red 1px solid; */
	padding: 0;
}
.nav-content{
	animation: transitionIn 0.50s;
}

.content{
	animation: transitionIn 0.7s;
}

.socials{
	animation: transitionIn2 0.9s;
}

span.holder-content.first, span.holder-content.second {
	color: #A5D7E8;
}

span.holder-content.third{
	color: #c5eefc
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(-15%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes transitionIn2 {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}

	50%{
		opacity: 0;
		transform: translateY(-25%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}