body{
    margin: 0;
    padding: 0;
	background-color: #050c18;
	/* border: red 1px solid; */
}

header {
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
	padding: 20px;
	/* padding-left: 50px; */
	text-align: center;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

main {
	font-family: 'Montserrat', sans-serif;
	/* border: red 1px solid; */
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	text-align: center;
	color: white;
}